In [97]:
from bs4 import BeautifulSoup # Import BeautifulSoup for parsing HTML
import requests # Import requests to make HTTP requests
import pandas as pd # Import pandas for data manipulation

In [99]:
# URL of the Wikipedia page to scrape
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

# Send a GET request to the URL
page = requests.get(url)

# Parse the HTML content of the page with BeautifulSoup
soup = BeautifulSoup(page.text, 'html')

In [100]:
# Find all tables on the page and select the second one (index 1) as this is the one that will be used
table = soup.find_all('table')[1]

In [ ]:
print (table) # Print the table for verification

In [104]:
# Find all 'th' elements (table headers) in the table
world_titles = table.find_all('th')

In [107]:
# Extract and clean the text from each table header
world_table_titles = [title.text.strip() for title in world_titles]
print (world_table_titles) # Print the table headers for verification

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [109]:
# Create an empty DataFrame with the table headers as column names
df = pd.DataFrame(columns = world_table_titles)
df # Print DataFrame for verification

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [111]:
# Find all 'tr' elements (table rows) in the table
column_data = table.find_all('tr')

In [113]:
# Iterate over each row except the first (header) row
for row in column_data[1:]:
    row_data = row.find_all('td') # Find all 'td' elements (table data) in the row
    individual_row_data = [data.text.strip() for data in  row_data]  # Extract and clean the text from each cell

    length = len(df) # Get the current length of the DataFrame
    df.loc[length] = individual_row_data # Add the row data to the DataFrame

In [115]:
df # Display the final DataFrame

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"